<div class="task-container">
    <div class="category-list">
      <ul>
        <li>All</li>
        <li>Groceries</li>
        <li>College</li>
        <li>Payments</li>
      </ul>
    </div>
  
    <div class="task-list">
      <h2>All Tasks</h2>
  
      <input 
        type="text" 
        placeholder="Add a new task inside 'All' category" 
        #taskInput 
        (keyup.enter)="addTask(taskInput.value, 'Uncategorized'); taskInput.value = ''"/>
  
      <ul>
        <app-task-item 
          *ngFor="let task of tasks" 
          [task]="task" 
          (deleteTask)="deleteTask(task)">
        </app-task-item>
      </ul>
    </div>
  </div>
  